// colors
$black: #1b1c1e;
$background: #f9f9f9;
$background_first_section: #353541;
$background_last_section: #1d1d24;
$red: #fb6470;
$white: #ffffff;
$head: #3e3e3e;
$font-color: #777777;
$box-color: #c9c9cc;
$color-altern: #b0b0b0;
$name: #717171;


// fonts
$raleway: 'Raleway', sans-serif;

