// colors
$porple: #353541;
$red: #f35e7e;
$redO: #f35e7e3b;
$red200: #e8606a;
$red250: #e85662;
$red300: #fb6470;
$white: #fff;
$gray100: #f9f9f9;
$gray150: #bcbcbe;
$gray200: #e5e5e5;
$gray250: #acacac;
$gray600: #1d1d24;
$gray800: #353541;
$gray900: #3e3e3e;

// fonts
$relavaweMedium: "Relavewe Medium", sans-serif;
$relavaweSemiBold: "Relavewe Semi Bold", sans-serif;
$relavaweMediumItalic: "Relavewe Medium Italic", sans-serif;
